[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
awscli-local = "==0.14"
docker-compose = "==1.29.1"
junit2html = "==30.0.6"

[requires]
python_version = "3"
